<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastel de Papa</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <h1>Pastel de Papa</h1>
    <img src="../img/pastelpapa.jpg" alt="Pastel de Papa" width="500" height="250">
    
    <p>El pastel de papa es un clásico argentino, ideal para compartir en familia.</p>

    <h2>Ingredientes</h2>

    <h3>Para el relleno</h3>
    <ul>
        <li>1 cebolla picada</li>
        <li>1 morrón rojo picado</li>
        <li>2 dientes de ajo picado</li>
        <li>1 kg de carne picada</li>
        <li>Sal, Ají molido, Orégano y Pimienta</li>
        <li>200 cc de salsa de tomate</li>
    </ul>

    <h3>Para el puré</h3>
    <ul>
        <li>500 g de puré de papa</li>
        <li>Sal, pimienta y nuez moscada</li>
        <li>2 huevos</li>
        <li>1 cebolla de verdeo (solo la parte verde)</li>
    </ul>
    <h3>Extra</h3>
    <ul>
        <li>100 g de queso rallado</li>
        <li>Queso cremoso</li>
    </ul>   

    <h2>Pasos</h2>
    <ol>
        <li>En una sartén rehogar la cebolla, el ajo y el morrón, agregar la carne picada y condimentar, sumar la salsa de tomate y dejar cocinar.</li>
        <li>Hervir las papas y pisarlas, condimentar y agregar los 2 huevos más la parte verde del verdeo picada.</li>
        <li>En una fuente colocar puré en la base, el relleno de carne , queso cremoso y otra vez puré arriba, emparejar y colocar queso rallado.</li>
        <li>Gratinar al horno.</li>
    </ol>

    <iframe width="600" height="400" 
        src="https://www.youtube.com/embed/RWm9t_LFQsc" 
        title="RECETA DE PASTEL DE PAPA" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen>
    </iframe>

    <p>
        <a href="https://cocinerosargentinos.com/economicas/pastel-de-papa-1" target="_blank" rel="noopener noreferrer">Ver receta completa en portal externo</a> |
        <a href="flan.html">Ir a receta de Flan</a> |
        <a href="../../index.html">Volver al inicio</a>
    </p>
</body>
</html>